<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{path('home')}}">Blog SF4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {#  Se essa rota não for login, carregue os menus de categorias #}
                    {% if app.request.attributes.get('_route') != 'login' %}
                        {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('single_category', {slug: category.slug}) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>

{#                <form class="form-inline my-2 my-lg-0">#}
{#                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#                </form>#}
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav float-right">
                    <li class="nav-item">
                        <a href="{{ path('post_index') }}" class="nav-link">Meus Posts</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav float-right">
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">Login</a>
                    </li>
                </ul>
            {% endif %}

        </nav>

        <div class="container">
            {% include 'includes/messages.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>

</html>
