{% extends 'base.html.twig' %}

{% block body %}
    {# FORMULÁRIO PARA RECUPERAR AS INFORMAÇÕES VIA '$post' #}
{#    <form action="{{ path('post_update', {'id': post.id}) }}" method="post"> #}{# Envia para o endereço do path#}

        {# TODOS OS CAMPOS ABAIXO RECEGEM PARÂMETROS DO 'PostController' VIA '$post' #}
{#        <p>#}
{#            <label>Titulo da Postagem</label>#}
{#            <input type="text" name="title" value="{{ post.title }}">#}
{#            #}{# <input type="text" name="title" value="{{ post.getTitle() }}">  // Outra forma de fazer o código acima' #}
{#        </p>#}

{#        <p>#}
{#            <label>Descrição da Postagem</label>#}
{#            <input type="text" name="description" value="{{ post.description }}">#}
{#        </p>#}

{#        <p>#}
{#            <label>Conteúdo da Postagem</label>#}
{#            <textarea name="content" id="" cols="30" rows="10" >{{ post.content }}</textarea> #}{# Entra como conteúdo linha #}
{#        </p>#}

{#        <p>#}
{#            <label>Slug</label>#}
{#            <input type="text" name="slug" value="{{ post.slug }}" >#}
{#        </p>#}

{#        <p>#}
{#            <button type="submit">Criar Postagem</button>#}
{#        </p>#}
{#    </form>#}


        <style>
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
            .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        </style>

        <div class="example-wrapper">
            <h2>Edição do Post</h2>
            <hr>
            {# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
            {# A vriável 'form' abaixo veio da classe 'UserController' #}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-lg btn-success">Atualizar Post</button> {# A dica é criar o botão de envio aqui, como foi feiro, e não na classe #}
            {{ form_end(form) }}
        </div>
{% endblock %}

{% block title %}
    Edição do Post
{% endblock %}

